<header>
    <h1>Index Page</h1>
</header>

<main id = "main-content">
<!--        <div id = "img-list" class = "img-list"> &lt;!&ndash; Where we will show the list of products &ndash;&gt;-->
    {{#each results}}
        <div>
            <img src = "{{this.thumbnail}}" alt = "">
            <p>{{this.title}}</p>
            <p>{{this.description}}</p>
            <a href = ".posts/{{this.id}}"></a>

        </div>
        {{log.this}}

    {{/each}}
<!--        </div>-->
</main>

