
    <main class = post>

      <p class = "postTitle" >Title: {{currentPost.title}}</p>

      <p class = "postAuthor" >By: {{currentPost.username}} </p>

      <img class = "postPicture" src= "/{{currentPost.image}}" alt="fake image">

      <p class = "postDes" >Post Description: {{currentPost.description}}</p> <br>

        <p data-postId = {{currentPost.id}}> </p>

      <p class = timePosted>
        Date Posted: {{formatDate currentPost.createAt}}
      </p> <br>
        <div id = "comment-input" class = "comment-input">
            <textarea id = "comment-text" class = "comment-text" name></textArea>
            <button type = button id = "comment-button" class = "comment-button" data-postId = {{currentPost.id}}> </button>
        </div>
        <div class = "comment-list" id = "comment-list">
            {{#each currentPost.comments}}
                {{> comments this }}
            {{/each}}
        </div>
    </main>

